<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/styles/app.css" />
    @* <link rel="stylesheet" href="BlazorTodoApp.styles.css" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="relative flex min-h-screen justify-center">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/dist/app.js"></script>
</body>

</html>
