<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/dist/app.css" />
    <link rel="stylesheet" href="BlazorTodoApp.styles.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" type="image/png" href="note.icon.png" />
    <HeadOutlet />
</head>

<body class="font-light bg-gray-100 font-sans flex justify-center">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* <script src="/dist/app.js"></script> *@
</body>

</html>
