@page "/"
@using BlazorTodoApp.Components.TodoApp

@rendermode InteractiveServer

<PageTitle>Blazor Todo App</PageTitle>

<h1>todos</h1>

<AddTodo OnAdd="@AddTodoItem" />

<TodoList TItem="TodoItem" Todos="@todos" />

<Footer TodosLeftCount="@TodosLeftCount" />

@code {
    private List<TodoItem> todos = new List<TodoItem>();

    async Task AddTodoItem(string newTodoTitle)
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todos.Add(new TodoItem { Title = newTodoTitle });
        }
    }

    private int TodosLeftCount()
    {
        return todos.Count(todo => !todo.IsDone);
    }
}