@page "/"
@using System.Text.Json
@using BlazorTodoApp.Components.Todo

@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<header class="flex items-center justify-center">
    <h1 class="text-pink-800 text-5xl p-5">todos</h1>    
</header>

<main class="flex shadow">
    <div class="bg-white">
        <AddNewTodo Todos="Todos" TodosChanged="UpdateTodos" />
        <TodoList Todos="Todos" TodosChanged="UpdateTodos" />  
    </div>
</main>

<footer class="bg-white shadow p-3">
    <TodoFooter Todos="Todos" TodosChanged="UpdateTodos" />
</footer>

@code {
    private List<TodoItem> Todos { get; set; } = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string storedTodosJson = (await JSRuntime.InvokeAsync<string?>("getItem", "todos")) ?? string.Empty;
            DeserializeTodos(storedTodosJson);
        }
    }

    private void DeserializeTodos(string storedTodosJson)
    {
        if (!string.IsNullOrEmpty(storedTodosJson))
        {
            try
            {
                Todos = JsonSerializer.Deserialize<List<TodoItem>>(storedTodosJson) ?? [];
                InvokeAsync(StateHasChanged);
            }
            catch (JsonException)
            {
                Console.WriteLine("Failed to deserialize todos from JSON.");
            }
        }
    }

    private async Task UpdateTodos(List<TodoItem> updatedTodos)
    {
        Todos = updatedTodos;
        StateHasChanged();
        await SaveToLocalStorage();
    }

    private async Task ClearCompletedTodos()
    {
        Todos.RemoveAll(todo => todo.IsDone);
        await SaveToLocalStorage();
    }

    private async Task SaveToLocalStorage()
    {
        string todosJson = JsonSerializer.Serialize(Todos);
        await JSRuntime.InvokeVoidAsync("setItem", "todos", todosJson);
    }
}
