<main class="main">
    <ul class="todo-list">
        @foreach(var (id, todoItem) in Items)
        {
            if(ItemTemplate is null)
            {
                <li>Please provide a Template</li>
            }
            else
            {
                @ItemTemplate(GetTodoItemTemplateData(todoItem))
            }
        }
    </ul>
</main>