<footer class="info">
    <span class="todo-count">@GetUncompletedItemsCount() item left!</span>
    <ul class="filters">
        <li class="filter">
            <a class="selected" href="#/">All</a>
        </li>
        <li class="filter">
            <a href="#/active">Active</a>
        </li>
        <li class="filter">
            <a href="#/completed">Completed</a>
        </li>
    </ul>
    <button class="clear-completed">Clear completed</button>
</footer>