<main class="main">
    <ul class="text-gray-600 text-left">
        @if (ItemTemplate != null)
        {
            @foreach (var pair in FilterItems(Items))
            {
                var id = pair.Key;
                var todoItem = pair.Value;
                @ItemTemplate(GetTodoItemTemplateData(todoItem))
            }
        }
    </ul>
</main>

