<div class="flex h-16 relative">
    <input
        class="input-field flex-1 outline-none text-left pl-16 placeholder-italic text-[24px] font-extralight focus:shadow-outline-red"
        type="text"
        placeholder="What needs to be done?"
        @onkeypress="OnTodoInputKeyPress"
        @bind-value="CurrentTodo"
        @bind-value:event="oninput" />
</div>
