<main class="main">
    <ul class="todo-list">
        @foreach (var pair in FilterItems(Items))
        {
            var id = pair.Key;
            var todoItem = pair.Value;
            if(ItemTemplate is null)
            {
                <li>Please provide a Template</li>
            }
            else
            {
                @ItemTemplate(GetTodoItemTemplateData(todoItem))
            }
        }
    </ul>
</main>