<div class="todo-v2" @onmouseover="ShowDeleteButton" @onmouseout="HideDeleteButton">
    <span class="todo-title">@TemplateDataV2.Item.Title</span>
    <span class="todo-delete" @onclick="OnTodoItemRemove">x</span>
</div>

