<div class="todo">
    <TodoTemplate TItem="TodoItemTemplateData2" Item="Item" RowTemplate="@(templateData => 
    {
        <div>
            <span class="@GetCompletedClass()">@Item.Title</span>
            <button @onclick="OnTodoItemEdit">Edit</button>
            <button @onclick="OnTodoItemRemove">Delete</button>
        </div>
    })" />
</div>